modified/com.collibra.dgc.core/src/main/resources/com/collibra/dgc/core/bootstrapper/structure.dtd

<!ELEMENT dataset (
    ACT_GE_BYTEARRAY*,
    ACT_GE_PROPERTY*,
    ACT_HI_ACTINST*,
    ACT_HI_ATTACHMENT*,
    ACT_HI_COMMENT*,
    ACT_HI_DETAIL*,
    ACT_HI_PROCINST*,
    ACT_HI_TASKINST*,
    ACT_ID_GROUP*,
    ACT_ID_INFO*,
    ACT_ID_MEMBERSHIP*,
    ACT_ID_USER*,
    ACT_RE_DEPLOYMENT*,
    ACT_RE_PROCDEF*,
    ACT_RU_EVENT_SUBSCR*,
    ACT_RU_EXECUTION*,
    ACT_RU_IDENTITYLINK*,
    ACT_RU_JOB*,
    ACT_RU_TASK*,
    ACT_RU_VARIABLE*,
    ADDRESS*,
    ADDRESS_AUD*,
    ATTRIBUTES*,
    ATTRIBUTES_AUD*,
    ATTRIBUTE_VALUES*,
    ATTRIBUTE_VALUES_AUD*,
    COMMUNITIES*,
    COMMUNITIES_AUD*,
    CONCEPT_CATEGORIES*,
    CONCEPT_CATEGORIES_AUD*,
    CONFCATEGORY_REPR*,
    CONFIGURATIONCATEGORIES*,
    CON_CATEGORIZED_CON*,
    CON_CATEGORIZED_CON_AUD*,
    EMAIL*,
    EMAIL_AUD*,
    GROUPMEMBERSHIPS*,
    GROUPMEMBERSHIPS_AUD*,
    GROUPS*,
    GROUPS_AUD*,
    GROUPS_USERS*,
    GROUPS_USERS_AUD*,
    IM*,
    IM_AUD*,
    INC_VOCABULARIES*,
    JOBS*,
    MEANINGS*,
    MEANINGS_AUD*,
    MEMBERS*,
    MEMBERS_AUD*,
    PHONE*,
    PHONE_AUD*,
    READINGDIRECTIONS*,
    READINGDIRECTIONS_AUD*,
    RELATIONS*,
    RELATIONS_AUD*,
    REPRESENTATIONS*,
    REPRESENTATIONS_AUD*,
    REVISIONS*,
    ROLES*,
    ROLES_AUD*,
    ROLE_RIGHTS*,
    ROLE_RIGHTS_AUD*,
    RULEIMPL_RULESTATEMENTIMPL_AUD*,
    RULESETS*,
    RULESETS_AUD*,
    RULESET_RULESTMTS*,
    RULESET_RULESTMTS_AUD*,
    RULESTM_SIMPLESTMS*,
    RULESTM_SIMPLESTMS_AUD*,
    SIMPLESTM_READDIR*,
    SIMPLESTM_READDIR_AUD*,
    SMPPROP_SMPSTM_AUD*,
    USERS*,
    USERS_ADDRESS*,
    USERS_ADDRESS_AUD*,
    USERS_AUD*,
    USERS_EMAIL*,
    USERS_EMAIL_AUD*,
    USERS_IM*,
    USERS_IM_AUD*,
    USERS_PHONE*,
    USERS_PHONE_AUD*,
    USERS_WEBSITE*,
    USERS_WEBSITE_AUD*,
    VOCABULARIES*,
    VOCABULARIES_AUD*,
    VOC_BFTFS_AUD*,
    VOC_CFS_AUD*,
    VOC_INCVOC_AUD*,
    VOC_TERMS_AUD*,
    WEBSITE*,
    WEBSITE_AUD*)>

<!ELEMENT ACT_GE_BYTEARRAY EMPTY>
<!ATTLIST ACT_GE_BYTEARRAY
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    NAME_ CDATA #IMPLIED
    DEPLOYMENT_ID_ CDATA #IMPLIED
    BYTES_ CDATA #IMPLIED
    GENERATED_ CDATA #IMPLIED
>

<!ELEMENT ACT_GE_PROPERTY EMPTY>
<!ATTLIST ACT_GE_PROPERTY
    NAME_ CDATA #REQUIRED
    VALUE_ CDATA #IMPLIED
    REV_ CDATA #IMPLIED
>

<!ELEMENT ACT_HI_ACTINST EMPTY>
<!ATTLIST ACT_HI_ACTINST
    ID_ CDATA #REQUIRED
    PROC_DEF_ID_ CDATA #REQUIRED
    PROC_INST_ID_ CDATA #REQUIRED
    EXECUTION_ID_ CDATA #REQUIRED
    ACT_ID_ CDATA #REQUIRED
    ACT_NAME_ CDATA #IMPLIED
    ACT_TYPE_ CDATA #REQUIRED
    ASSIGNEE_ CDATA #IMPLIED
    START_TIME_ CDATA #REQUIRED
    END_TIME_ CDATA #IMPLIED
    DURATION_ CDATA #IMPLIED
>

<!ELEMENT ACT_HI_ATTACHMENT EMPTY>
<!ATTLIST ACT_HI_ATTACHMENT
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    USER_ID_ CDATA #IMPLIED
    NAME_ CDATA #IMPLIED
    DESCRIPTION_ CDATA #IMPLIED
    TYPE_ CDATA #IMPLIED
    TASK_ID_ CDATA #IMPLIED
    PROC_INST_ID_ CDATA #IMPLIED
    URL_ CDATA #IMPLIED
    CONTENT_ID_ CDATA #IMPLIED
>

<!ELEMENT ACT_HI_COMMENT EMPTY>
<!ATTLIST ACT_HI_COMMENT
    ID_ CDATA #REQUIRED
    TYPE_ CDATA #IMPLIED
    TIME_ CDATA #REQUIRED
    USER_ID_ CDATA #IMPLIED
    TASK_ID_ CDATA #IMPLIED
    PROC_INST_ID_ CDATA #IMPLIED
    ACTION_ CDATA #IMPLIED
    MESSAGE_ CDATA #IMPLIED
    FULL_MSG_ CDATA #IMPLIED
>

<!ELEMENT ACT_HI_DETAIL EMPTY>
<!ATTLIST ACT_HI_DETAIL
    ID_ CDATA #REQUIRED
    TYPE_ CDATA #REQUIRED
    PROC_INST_ID_ CDATA #REQUIRED
    EXECUTION_ID_ CDATA #REQUIRED
    TASK_ID_ CDATA #IMPLIED
    ACT_INST_ID_ CDATA #IMPLIED
    NAME_ CDATA #REQUIRED
    VAR_TYPE_ CDATA #IMPLIED
    REV_ CDATA #IMPLIED
    TIME_ CDATA #REQUIRED
    BYTEARRAY_ID_ CDATA #IMPLIED
    DOUBLE_ CDATA #IMPLIED
    LONG_ CDATA #IMPLIED
    TEXT_ CDATA #IMPLIED
    TEXT2_ CDATA #IMPLIED
>

<!ELEMENT ACT_HI_PROCINST EMPTY>
<!ATTLIST ACT_HI_PROCINST
    ID_ CDATA #REQUIRED
    PROC_INST_ID_ CDATA #REQUIRED
    BUSINESS_KEY_ CDATA #IMPLIED
    PROC_DEF_ID_ CDATA #REQUIRED
    START_TIME_ CDATA #REQUIRED
    END_TIME_ CDATA #IMPLIED
    DURATION_ CDATA #IMPLIED
    START_USER_ID_ CDATA #IMPLIED
    START_ACT_ID_ CDATA #IMPLIED
    END_ACT_ID_ CDATA #IMPLIED
    SUPER_PROCESS_INSTANCE_ID_ CDATA #IMPLIED
    DELETE_REASON_ CDATA #IMPLIED
>

<!ELEMENT ACT_HI_TASKINST EMPTY>
<!ATTLIST ACT_HI_TASKINST
    ID_ CDATA #REQUIRED
    PROC_DEF_ID_ CDATA #IMPLIED
    TASK_DEF_KEY_ CDATA #IMPLIED
    PROC_INST_ID_ CDATA #IMPLIED
    EXECUTION_ID_ CDATA #IMPLIED
    PARENT_TASK_ID_ CDATA #IMPLIED
    NAME_ CDATA #IMPLIED
    DESCRIPTION_ CDATA #IMPLIED
    OWNER_ CDATA #IMPLIED
    ASSIGNEE_ CDATA #IMPLIED
    START_TIME_ CDATA #REQUIRED
    END_TIME_ CDATA #IMPLIED
    DURATION_ CDATA #IMPLIED
    DELETE_REASON_ CDATA #IMPLIED
    PRIORITY_ CDATA #IMPLIED
    DUE_DATE_ CDATA #IMPLIED
>

<!ELEMENT ACT_ID_GROUP EMPTY>
<!ATTLIST ACT_ID_GROUP
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    NAME_ CDATA #IMPLIED
    TYPE_ CDATA #IMPLIED
>

<!ELEMENT ACT_ID_INFO EMPTY>
<!ATTLIST ACT_ID_INFO
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    USER_ID_ CDATA #IMPLIED
    TYPE_ CDATA #IMPLIED
    KEY_ CDATA #IMPLIED
    VALUE_ CDATA #IMPLIED
    PASSWORD_ CDATA #IMPLIED
    PARENT_ID_ CDATA #IMPLIED
>

<!ELEMENT ACT_ID_MEMBERSHIP EMPTY>
<!ATTLIST ACT_ID_MEMBERSHIP
    USER_ID_ CDATA #REQUIRED
    GROUP_ID_ CDATA #REQUIRED
>

<!ELEMENT ACT_ID_USER EMPTY>
<!ATTLIST ACT_ID_USER
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    FIRST_ CDATA #IMPLIED
    LAST_ CDATA #IMPLIED
    EMAIL_ CDATA #IMPLIED
    PWD_ CDATA #IMPLIED
    PICTURE_ID_ CDATA #IMPLIED
>

<!ELEMENT ACT_RE_DEPLOYMENT EMPTY>
<!ATTLIST ACT_RE_DEPLOYMENT
    ID_ CDATA #REQUIRED
    NAME_ CDATA #IMPLIED
    DEPLOY_TIME_ CDATA #IMPLIED
>

<!ELEMENT ACT_RE_PROCDEF EMPTY>
<!ATTLIST ACT_RE_PROCDEF
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    CATEGORY_ CDATA #IMPLIED
    NAME_ CDATA #IMPLIED
    KEY_ CDATA #IMPLIED
    VERSION_ CDATA #IMPLIED
    DEPLOYMENT_ID_ CDATA #IMPLIED
    RESOURCE_NAME_ CDATA #IMPLIED
    DGRM_RESOURCE_NAME_ CDATA #IMPLIED
    HAS_START_FORM_KEY_ CDATA #IMPLIED
    SUSPENSION_STATE_ CDATA #IMPLIED
>

<!ELEMENT ACT_RU_EVENT_SUBSCR EMPTY>
<!ATTLIST ACT_RU_EVENT_SUBSCR
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    EVENT_TYPE_ CDATA #REQUIRED
    EVENT_NAME_ CDATA #IMPLIED
    EXECUTION_ID_ CDATA #IMPLIED
    PROC_INST_ID_ CDATA #IMPLIED
    ACTIVITY_ID_ CDATA #IMPLIED
    CONFIGURATION_ CDATA #IMPLIED
    CREATED_ CDATA #REQUIRED
>

<!ELEMENT ACT_RU_EXECUTION EMPTY>
<!ATTLIST ACT_RU_EXECUTION
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    PROC_INST_ID_ CDATA #IMPLIED
    BUSINESS_KEY_ CDATA #IMPLIED
    PARENT_ID_ CDATA #IMPLIED
    PROC_DEF_ID_ CDATA #IMPLIED
    SUPER_EXEC_ CDATA #IMPLIED
    ACT_ID_ CDATA #IMPLIED
    IS_ACTIVE_ CDATA #IMPLIED
    IS_CONCURRENT_ CDATA #IMPLIED
    IS_SCOPE_ CDATA #IMPLIED
    IS_EVENT_SCOPE_ CDATA #IMPLIED
    SUSPENSION_STATE_ CDATA #IMPLIED
>

<!ELEMENT ACT_RU_IDENTITYLINK EMPTY>
<!ATTLIST ACT_RU_IDENTITYLINK
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    GROUP_ID_ CDATA #IMPLIED
    TYPE_ CDATA #IMPLIED
    USER_ID_ CDATA #IMPLIED
    TASK_ID_ CDATA #IMPLIED
>

<!ELEMENT ACT_RU_JOB EMPTY>
<!ATTLIST ACT_RU_JOB
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    TYPE_ CDATA #REQUIRED
    LOCK_EXP_TIME_ CDATA #IMPLIED
    LOCK_OWNER_ CDATA #IMPLIED
    EXCLUSIVE_ CDATA #IMPLIED
    EXECUTION_ID_ CDATA #IMPLIED
    PROCESS_INSTANCE_ID_ CDATA #IMPLIED
    RETRIES_ CDATA #IMPLIED
    EXCEPTION_STACK_ID_ CDATA #IMPLIED
    EXCEPTION_MSG_ CDATA #IMPLIED
    DUEDATE_ CDATA #IMPLIED
    REPEAT_ CDATA #IMPLIED
    HANDLER_TYPE_ CDATA #IMPLIED
    HANDLER_CFG_ CDATA #IMPLIED
>

<!ELEMENT ACT_RU_TASK EMPTY>
<!ATTLIST ACT_RU_TASK
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    EXECUTION_ID_ CDATA #IMPLIED
    PROC_INST_ID_ CDATA #IMPLIED
    PROC_DEF_ID_ CDATA #IMPLIED
    NAME_ CDATA #IMPLIED
    PARENT_TASK_ID_ CDATA #IMPLIED
    DESCRIPTION_ CDATA #IMPLIED
    TASK_DEF_KEY_ CDATA #IMPLIED
    OWNER_ CDATA #IMPLIED
    ASSIGNEE_ CDATA #IMPLIED
    DELEGATION_ CDATA #IMPLIED
    PRIORITY_ CDATA #IMPLIED
    CREATE_TIME_ CDATA #IMPLIED
    DUE_DATE_ CDATA #IMPLIED
>

<!ELEMENT ACT_RU_VARIABLE EMPTY>
<!ATTLIST ACT_RU_VARIABLE
    ID_ CDATA #REQUIRED
    REV_ CDATA #IMPLIED
    TYPE_ CDATA #REQUIRED
    NAME_ CDATA #REQUIRED
    EXECUTION_ID_ CDATA #IMPLIED
    PROC_INST_ID_ CDATA #IMPLIED
    TASK_ID_ CDATA #IMPLIED
    BYTEARRAY_ID_ CDATA #IMPLIED
    DOUBLE_ CDATA #IMPLIED
    LONG_ CDATA #IMPLIED
    TEXT_ CDATA #IMPLIED
    TEXT2_ CDATA #IMPLIED
>

<!ELEMENT ADDRESS EMPTY>
<!ATTLIST ADDRESS
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    ADDRESS_TYPE CDATA #IMPLIED
    CITY CDATA #IMPLIED
    COUNTRY CDATA #IMPLIED
    NR CDATA #IMPLIED
    PROVINCE CDATA #IMPLIED
    STREET CDATA #IMPLIED
>

<!ELEMENT ADDRESS_AUD EMPTY>
<!ATTLIST ADDRESS_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    ADDRESS_TYPE CDATA #IMPLIED
    CITY CDATA #IMPLIED
    COUNTRY CDATA #IMPLIED
    NR CDATA #IMPLIED
    PROVINCE CDATA #IMPLIED
    STREET CDATA #IMPLIED
>

<!ELEMENT ATTRIBUTES EMPTY>
<!ATTLIST ATTRIBUTES
    ATTR_TYPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    EXPRESSION_SHORT CDATA #IMPLIED
    EXPRESSION_LONG CDATA #IMPLIED
    DATETIME CDATA #IMPLIED
    LABEL CDATA #REQUIRED
    OWNER CDATA #IMPLIED
>

<!ELEMENT ATTRIBUTES_AUD EMPTY>
<!ATTLIST ATTRIBUTES_AUD
    ATTR_TYPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    EXPRESSION_SHORT CDATA #IMPLIED
    LABEL CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    DATETIME CDATA #IMPLIED
    EXPRESSION_LONG CDATA #IMPLIED
>

<!ELEMENT ATTRIBUTE_VALUES EMPTY>
<!ATTLIST ATTRIBUTE_VALUES
    ID CDATA #REQUIRED
    ATTRIBUTE_VALUE CDATA #IMPLIED
>

<!ELEMENT ATTRIBUTE_VALUES_AUD EMPTY>
<!ATTLIST ATTRIBUTE_VALUES_AUD
    REV CDATA #REQUIRED
    ID CDATA #REQUIRED
    ATTRIBUTE_VALUE CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT COMMUNITIES EMPTY>
<!ATTLIST COMMUNITIES
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    SBVR CDATA #REQUIRED
    LANGUAGE CDATA #IMPLIED
    META CDATA #REQUIRED
    NAME CDATA #REQUIRED
    URI CDATA #REQUIRED
    PARENT_COMM CDATA #IMPLIED
>

<!ELEMENT COMMUNITIES_AUD EMPTY>
<!ATTLIST COMMUNITIES_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    SBVR CDATA #IMPLIED
    LANGUAGE CDATA #IMPLIED
    META CDATA #IMPLIED
    NAME CDATA #IMPLIED
    URI CDATA #IMPLIED
    PARENT_COMM CDATA #IMPLIED
>

<!ELEMENT CONCEPT_CATEGORIES EMPTY>
<!ATTLIST CONCEPT_CATEGORIES
    CONCEPT_ID CDATA #REQUIRED
    CATEGORY_ID CDATA #REQUIRED
>

<!ELEMENT CONCEPT_CATEGORIES_AUD EMPTY>
<!ATTLIST CONCEPT_CATEGORIES_AUD
    REV CDATA #REQUIRED
    CONCEPT_ID CDATA #REQUIRED
    CATEGORY_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT CONFCATEGORY_REPR EMPTY>
<!ATTLIST CONFCATEGORY_REPR
    CONFIGURATIONCATEGORIES_ID CDATA #REQUIRED
    REPRESENTATIONS_ID CDATA #REQUIRED
    REPR_INDEX CDATA #REQUIRED
>

<!ELEMENT CONFIGURATIONCATEGORIES EMPTY>
<!ATTLIST CONFIGURATIONCATEGORIES
    CONF_TYPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT CON_CATEGORIZED_CON EMPTY>
<!ATTLIST CON_CATEGORIZED_CON
    CAT_SCHEME_ID CDATA #REQUIRED
    CATEGORIZED_CONCEPT_ID CDATA #REQUIRED
>

<!ELEMENT CON_CATEGORIZED_CON_AUD EMPTY>
<!ATTLIST CON_CATEGORIZED_CON_AUD
    REV CDATA #REQUIRED
    CAT_SCHEME_ID CDATA #REQUIRED
    CATEGORIZED_CONCEPT_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT EMAIL EMPTY>
<!ATTLIST EMAIL
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
>

<!ELEMENT EMAIL_AUD EMPTY>
<!ATTLIST EMAIL_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
>

<!ELEMENT GROUPMEMBERSHIPS EMPTY>
<!ATTLIST GROUPMEMBERSHIPS
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    GROUP_ID CDATA #IMPLIED
    USER_ID CDATA #IMPLIED
>

<!ELEMENT GROUPMEMBERSHIPS_AUD EMPTY>
<!ATTLIST GROUPMEMBERSHIPS_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    GROUP_ID CDATA #IMPLIED
    USER_ID CDATA #IMPLIED
>

<!ELEMENT GROUPS EMPTY>
<!ATTLIST GROUPS
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    GROUP_NAME CDATA #IMPLIED
>

<!ELEMENT GROUPS_AUD EMPTY>
<!ATTLIST GROUPS_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    GROUP_NAME CDATA #IMPLIED
>

<!ELEMENT GROUPS_USERS EMPTY>
<!ATTLIST GROUPS_USERS
    GROUPS_ID CDATA #REQUIRED
    USERS_ID CDATA #REQUIRED
>

<!ELEMENT GROUPS_USERS_AUD EMPTY>
<!ATTLIST GROUPS_USERS_AUD
    REV CDATA #REQUIRED
    GROUPS_ID CDATA #REQUIRED
    USERS_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT IM EMPTY>
<!ATTLIST IM
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    ACCOUNT CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT IM_AUD EMPTY>
<!ATTLIST IM_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    ACCOUNT CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT INC_VOCABULARIES EMPTY>
<!ATTLIST INC_VOCABULARIES
    ID CDATA #REQUIRED
    INC_ID CDATA #REQUIRED
>

<!ELEMENT JOBS EMPTY>
<!ATTLIST JOBS
    ID CDATA #REQUIRED
    CANCELABLE CDATA #IMPLIED
    CREATION_DATE CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    MESSAGE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    STATE CDATA #IMPLIED
>

<!ELEMENT MEANINGS EMPTY>
<!ATTLIST MEANINGS
    MEAN_TYPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    IS_CATEGORIZATION_SCHEME CDATA #IMPLIED
    RULETYPE CDATA #IMPLIED
    GENERAL_CONCEPT CDATA #IMPLIED
    CONCEPT_TYPE CDATA #IMPLIED
    FOR_CONCEPT CDATA #IMPLIED
    CONSTRAINTTYPE CDATA #IMPLIED
>

<!ELEMENT MEANINGS_AUD EMPTY>
<!ATTLIST MEANINGS_AUD
    MEAN_TYPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    RULETYPE CDATA #IMPLIED
    CONSTRAINTTYPE CDATA #IMPLIED
    IS_CATEGORIZATION_SCHEME CDATA #IMPLIED
    GENERAL_CONCEPT CDATA #IMPLIED
    CONCEPT_TYPE CDATA #IMPLIED
    FOR_CONCEPT CDATA #IMPLIED
>

<!ELEMENT MEMBERS EMPTY>
<!ATTLIST MEMBERS
    ID CDATA #REQUIRED
    IS_GROUP CDATA #IMPLIED
    OWNER_ID CDATA #IMPLIED
    RESOURCEID CDATA #IMPLIED
    ROLE CDATA #IMPLIED
>

<!ELEMENT MEMBERS_AUD EMPTY>
<!ATTLIST MEMBERS_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    IS_GROUP CDATA #IMPLIED
    OWNER_ID CDATA #IMPLIED
    RESOURCEID CDATA #IMPLIED
    ROLE CDATA #IMPLIED
>

<!ELEMENT PHONE EMPTY>
<!ATTLIST PHONE
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    PHONE CDATA #REQUIRED
    PHONE_TYPE CDATA #IMPLIED
>

<!ELEMENT PHONE_AUD EMPTY>
<!ATTLIST PHONE_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    PHONE CDATA #IMPLIED
    PHONE_TYPE CDATA #IMPLIED
>

<!ELEMENT READINGDIRECTIONS EMPTY>
<!ATTLIST READINGDIRECTIONS
    ID CDATA #REQUIRED
    ISLEFT CDATA #REQUIRED
    BFTF CDATA #IMPLIED
>

<!ELEMENT READINGDIRECTIONS_AUD EMPTY>
<!ATTLIST READINGDIRECTIONS_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    ISLEFT CDATA #IMPLIED
    BFTF CDATA #IMPLIED
>

<!ELEMENT RELATIONS EMPTY>
<!ATTLIST RELATIONS
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    ENDINGDATE CDATA #IMPLIED
    ISGENERATED CDATA #IMPLIED
    STARTINGDATE CDATA #IMPLIED
    SOURCE CDATA #REQUIRED
    STATUS CDATA #IMPLIED
    TARGET CDATA #REQUIRED
    TYPE CDATA #REQUIRED
>

<!ELEMENT RELATIONS_AUD EMPTY>
<!ATTLIST RELATIONS_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    ENDINGDATE CDATA #IMPLIED
    ISGENERATED CDATA #IMPLIED
    STARTINGDATE CDATA #IMPLIED
    SOURCE CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    TARGET CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT REPRESENTATIONS EMPTY>
<!ATTLIST REPRESENTATIONS
    REP_TYPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    IS_PREFERRED CDATA #IMPLIED
    IS_LOCKED CDATA #IMPLIED
    SIGNIFIER CDATA #IMPLIED
    CO_ROLE CDATA #IMPLIED
    ROLE CDATA #IMPLIED
    UNPARSED CDATA #IMPLIED
    MAX CDATA #IMPLIED
    MIN CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    VOCABULARY CDATA #IMPLIED
    OBJECTTYPE CDATA #IMPLIED
    BINARYFACTTYPE CDATA #IMPLIED
    HEAD CDATA #IMPLIED
    TAIL CDATA #IMPLIED
    CHARACTERISTIC CDATA #IMPLIED
    TERM CDATA #IMPLIED
    MEANING CDATA #IMPLIED
>

<!ELEMENT REPRESENTATIONS_AUD EMPTY>
<!ATTLIST REPRESENTATIONS_AUD
    REP_TYPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    IS_PREFERRED CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    VOCABULARY CDATA #IMPLIED
    ROLE CDATA #IMPLIED
    CHARACTERISTIC CDATA #IMPLIED
    TERM CDATA #IMPLIED
    SIGNIFIER CDATA #IMPLIED
    OBJECTTYPE CDATA #IMPLIED
    MEANING CDATA #IMPLIED
    MAX CDATA #IMPLIED
    MIN CDATA #IMPLIED
    UNPARSED CDATA #IMPLIED
    CO_ROLE CDATA #IMPLIED
    BINARYFACTTYPE CDATA #IMPLIED
    HEAD CDATA #IMPLIED
    TAIL CDATA #IMPLIED
>

<!ELEMENT REVISIONS EMPTY>
<!ATTLIST REVISIONS
    ID CDATA #REQUIRED
    TIMESTAMP CDATA #REQUIRED
    USERNAME CDATA #IMPLIED
>

<!ELEMENT ROLES EMPTY>
<!ATTLIST ROLES
    ID CDATA #REQUIRED
    GLOBAL CDATA #IMPLIED
    TERM CDATA #REQUIRED
>

<!ELEMENT ROLES_AUD EMPTY>
<!ATTLIST ROLES_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    GLOBAL CDATA #IMPLIED
    TERM CDATA #IMPLIED
>

<!ELEMENT ROLE_RIGHTS EMPTY>
<!ATTLIST ROLE_RIGHTS
    ROLE CDATA #REQUIRED
    RIGHT_NAME CDATA #IMPLIED
>

<!ELEMENT ROLE_RIGHTS_AUD EMPTY>
<!ATTLIST ROLE_RIGHTS_AUD
    REV CDATA #REQUIRED
    ROLE CDATA #REQUIRED
    RIGHT_NAME CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT RULEIMPL_RULESTATEMENTIMPL_AUD EMPTY>
<!ATTLIST RULEIMPL_RULESTATEMENTIMPL_AUD
    REV CDATA #REQUIRED
    MEANING CDATA #REQUIRED
    ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT RULESETS EMPTY>
<!ATTLIST RULESETS
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    NAME CDATA #REQUIRED
    VOCABULARY CDATA #IMPLIED
>

<!ELEMENT RULESETS_AUD EMPTY>
<!ATTLIST RULESETS_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    VOCABULARY CDATA #IMPLIED
>

<!ELEMENT RULESET_RULESTMTS EMPTY>
<!ATTLIST RULESET_RULESTMTS
    RULESET CDATA #REQUIRED
    RULESTMT CDATA #REQUIRED
>

<!ELEMENT RULESET_RULESTMTS_AUD EMPTY>
<!ATTLIST RULESET_RULESTMTS_AUD
    REV CDATA #REQUIRED
    RULESET CDATA #REQUIRED
    RULESTMT CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT RULESTM_SIMPLESTMS EMPTY>
<!ATTLIST RULESTM_SIMPLESTMS
    RULESTM_ID CDATA #REQUIRED
    SMPSTM_ID CDATA #REQUIRED
>

<!ELEMENT RULESTM_SIMPLESTMS_AUD EMPTY>
<!ATTLIST RULESTM_SIMPLESTMS_AUD
    REV CDATA #REQUIRED
    RULESTM_ID CDATA #REQUIRED
    SMPSTM_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT SIMPLESTM_READDIR EMPTY>
<!ATTLIST SIMPLESTM_READDIR
    SMPSTM_ID CDATA #REQUIRED
    READDIR_ID CDATA #REQUIRED
    READINGDIRECTIONSIDX CDATA #REQUIRED
>

<!ELEMENT SIMPLESTM_READDIR_AUD EMPTY>
<!ATTLIST SIMPLESTM_READDIR_AUD
    REV CDATA #REQUIRED
    SMPSTM_ID CDATA #REQUIRED
    READDIR_ID CDATA #REQUIRED
    READINGDIRECTIONSIDX CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT SMPPROP_SMPSTM_AUD EMPTY>
<!ATTLIST SMPPROP_SMPSTM_AUD
    REV CDATA #REQUIRED
    MEANING CDATA #REQUIRED
    ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT USERS EMPTY>
<!ATTLIST USERS
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    FIRSTNAME CDATA #IMPLIED
    LANGUAGE CDATA #IMPLIED
    LASTNAME CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
    SALT CDATA #IMPLIED
    USERNAME CDATA #REQUIRED
>

<!ELEMENT USERS_ADDRESS EMPTY>
<!ATTLIST USERS_ADDRESS
    USERS_ID CDATA #REQUIRED
    ADDRESSES_ID CDATA #REQUIRED
>

<!ELEMENT USERS_ADDRESS_AUD EMPTY>
<!ATTLIST USERS_ADDRESS_AUD
    REV CDATA #REQUIRED
    USERS_ID CDATA #REQUIRED
    ADDRESSES_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT USERS_AUD EMPTY>
<!ATTLIST USERS_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    FIRSTNAME CDATA #IMPLIED
    LANGUAGE CDATA #IMPLIED
    LASTNAME CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
    SALT CDATA #IMPLIED
    USERNAME CDATA #IMPLIED
>

<!ELEMENT USERS_EMAIL EMPTY>
<!ATTLIST USERS_EMAIL
    USERS_ID CDATA #REQUIRED
    ADITIONALEMAILADDRESSES_ID CDATA #REQUIRED
>

<!ELEMENT USERS_EMAIL_AUD EMPTY>
<!ATTLIST USERS_EMAIL_AUD
    REV CDATA #REQUIRED
    USERS_ID CDATA #REQUIRED
    ADITIONALEMAILADDRESSES_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT USERS_IM EMPTY>
<!ATTLIST USERS_IM
    USERS_ID CDATA #REQUIRED
    INSTANTMESSAGINGACCOUNTS_ID CDATA #REQUIRED
>

<!ELEMENT USERS_IM_AUD EMPTY>
<!ATTLIST USERS_IM_AUD
    REV CDATA #REQUIRED
    USERS_ID CDATA #REQUIRED
    INSTANTMESSAGINGACCOUNTS_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT USERS_PHONE EMPTY>
<!ATTLIST USERS_PHONE
    USERS_ID CDATA #REQUIRED
    PHONENUMBERS_ID CDATA #REQUIRED
>

<!ELEMENT USERS_PHONE_AUD EMPTY>
<!ATTLIST USERS_PHONE_AUD
    REV CDATA #REQUIRED
    USERS_ID CDATA #REQUIRED
    PHONENUMBERS_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT USERS_WEBSITE EMPTY>
<!ATTLIST USERS_WEBSITE
    USERS_ID CDATA #REQUIRED
    WEBSITES_ID CDATA #REQUIRED
>

<!ELEMENT USERS_WEBSITE_AUD EMPTY>
<!ATTLIST USERS_WEBSITE_AUD
    REV CDATA #REQUIRED
    USERS_ID CDATA #REQUIRED
    WEBSITES_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT VOCABULARIES EMPTY>
<!ATTLIST VOCABULARIES
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    META CDATA #REQUIRED
    NAME CDATA #REQUIRED
    URI CDATA #REQUIRED
    COMM CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT VOCABULARIES_AUD EMPTY>
<!ATTLIST VOCABULARIES_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    META CDATA #IMPLIED
    NAME CDATA #IMPLIED
    URI CDATA #IMPLIED
    COMM CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT VOC_BFTFS_AUD EMPTY>
<!ATTLIST VOC_BFTFS_AUD
    REV CDATA #REQUIRED
    VOCABULARY CDATA #REQUIRED
    ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT VOC_CFS_AUD EMPTY>
<!ATTLIST VOC_CFS_AUD
    REV CDATA #REQUIRED
    VOCABULARY CDATA #REQUIRED
    ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT VOC_INCVOC_AUD EMPTY>
<!ATTLIST VOC_INCVOC_AUD
    REV CDATA #REQUIRED
    ID CDATA #REQUIRED
    INC_ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT VOC_TERMS_AUD EMPTY>
<!ATTLIST VOC_TERMS_AUD
    REV CDATA #REQUIRED
    VOCABULARY CDATA #REQUIRED
    ID CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
>

<!ELEMENT WEBSITE EMPTY>
<!ATTLIST WEBSITE
    ID CDATA #REQUIRED
    CREATOR CDATA #IMPLIED
    CREATIONDATE CDATA #IMPLIED
    LASTMODIFIED CDATA #IMPLIED
    MODIFIEDBY CDATA #IMPLIED
    URL CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT WEBSITE_AUD EMPTY>
<!ATTLIST WEBSITE_AUD
    ID CDATA #REQUIRED
    REV CDATA #REQUIRED
    REVTYPE CDATA #IMPLIED
    URL CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

